
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}


/* common elements */
html, 
body, 
.wrapper {
  height: 100%;
  margin: 0;
  width: 100%;
}

.load-fail {
	background-color: yellow;
	font-weight: bold;
	color: black;
	margin-bottom: 10px;
}

.combined-menu-toggle {
	position: absolute;
	left:0;
	max-height: 100vh;
	width: 330px;
}

.menu-main {
  background: rgba(0,0,0,0.75);
  color: white;
  margin: 0;
  padding: 8px;
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  overflow: auto;
  max-height: 100vh;
}

.project-title {
	font-size: 1.5em;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

/* search */
.search-form {
  color: black;
  padding: 8px;
  text-align: left;
}
.search-input {
  width: 90%;
  color: black;
}
.search-summary {
  display: block;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.menu-toggle {
	background: rgba(0,0,0,0.75);
	height: 30px;
	width: 30px;
	padding: 5px;
	color: white;
	position: absolute;
	top: 0;
	left: 300px;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	text-align: center;	
}

.menu-toggle:hover {
	color: red;
}

.menu-toggle-smallscreen {
	visibility: hidden;
}

.search-radius-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#slider {
	display: inline-block;
	width: 70%;	
}

.ui-slider .ui-slider-range {
	background-color: blue;
}

.numWeeks {
	display: inline-block;
	margin-left: 10px;
}

.distance-control {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

#radius-slider .rs-range-color  {
    background-color: blue;
}
#radius-slider .rs-path-color  {
    background-color: #dedede;
}
#radius-slider .rs-handle  {
    background-color: #000000;
}
#radius-slider .rs-border  {
    border-color: black;
}

/*roundSlider*/
.full .rs-tooltip {
	top: 45%;
	left: 50%
}
.edit {
	font-weight: bold;
}

.dist-units {
	position: absolute;
	top: 54%;
	left: 32%;
	font-family: verdana;
	font-size: 13px;
	font-weight: bold;
	z-index: 11;
}

.list {
  padding: 0;
}

.list li {
  font-size: 12px;
  list-style-type: none;
  padding: 8px;
}

.list li:hover {
  cursor: pointer;
  color: black;
  background: #E44E49;
}


.venue-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
}

.meetup-info {
  float: right;
  text-align: right;
  width: 25%;
}

.hide-meetup-info {
	visibility: hidden;
}


/* map canvas */
.map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.info-window-header {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 8px;
  background: #E44E49;
  border-bottom: 2px solid black;
}

.info-window-list {
	padding-left: 25px;
	padding-right: 15px;
	font-size: 14px;
}

.info-window-list-items {
	margin-bottom: 5px;
}

.meetup-descrip p {
	font-size: 12px;
}

.primary-info {
	font-size: 14px;
	margin-bottom: 2px;
}

.meetup-descrip {
	margin-top: 5px;
}

.info-window-list-items img {
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
}

/* info window */

@media screen and (max-width: 700px) {

.menu-main {
  background: rgba(0,0,0,0.75);
  color: white;
  margin: 0;
  padding:0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 30vh;
}

.search-form {
  color: black;
  text-align: center;
}
.search-input {
  width: 65%;
  color: black;
}
.search-summary {
  display: block;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.search-radius-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#slider {
	display: inline-block;
	width: 50%;	
}

.distance-control {
    position: absolute;
    top: auto;
	right: auto;
	bottom: 20px;
    left: 20px;
}

.combined-menu-toggle {
	position: absolute;
	left: 0;
	height: calc(30vh+30px);
	width: 100%;
}

.menu-toggle {
	visibility: hidden;
}

.menu-toggle-smallscreen {
	position: absolute;
	top: 30vh;
	visibility: visible;
	background: rgba(0,0,0,0.75);
	height: 30px;
	width: 30px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	text-align: center;		
}

.menu-toggle-smallscreen:hover {
	color: red;
}

.meetup-info {
  text-align: right;
  width: auto;
}

}